/.env
/.idea
/vendor
.DS_Store
.nova
config.codekit3
node_modules

# legacy static folders
web/art
web/basewood
web/basewoodkickstarter
web/cbm
web/dvzine
web/isleofelsikickstarter
web/patreon
web/temp
web/wedding
