<footer class="site-footer" role="contentinfo">
  <div class="copyright">All content of this site is &copy; 1999-{{ 'now'|date('Y') }} Alec Longstreth</div>
</footer>
<script src="/assets/scripts/main.js?ckcachebust=530D94B4AEACC4467598DF7EDC2EE0D8"></script>