<footer class="site-footer" role="contentinfo">
  <div class="grid spaced">
    <div class="col-md-3-4 address">
      <h3>Contact:</h3>
      {{ siteOptions.contactInfo.address }}
      <a href="mailto:{{ siteOptions.contactInfo.email }}">{{ siteOptions.contactInfo.email }}</a>
    </div>
    <div class="col-md-1-4 social">
      <ul>
        {% for socialLink in siteOptions.socialLinks %}
          {% set socialImage = socialLink.image.one() %}
          <li>
            <a href="{{ socialLink.socialUrl }}" rel="noopener noreferrer" target="_blank"><img src="{{ socialImage.getUrl() }}" title="{{ socialImage.title }}"></a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="copyright">All content of this site is &copy; 1999-{{ 'now'|date('Y') }} Alec Longstreth</div>

  </div>
</footer>
<script src="/assets/scripts/main.js?ckcachebust=6B75473EC324E798F251566F43CAD116"></script>