<div class="social-links -hover-blocks">
  <ul>
    {% for socialLink in siteOptions.socialLinks.all() %}
      {% set socialImage = socialLink.image.one() %}
      <li>
        <a href="{{ socialLink.socialUrl }}"><img src="{{ socialImage.getUrl() }}" title="{{ socialImage.title }}"></a>
      </li>
    {% endfor %}
  </ul>
</div>
