// Colors
$black: #222;
$white: #fff;
$blue: #2875A9;
$gray: #BFBFBF;

$max-page-width: 1200px;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1100px;
$breakpoint-xl: 1400px;
$breakpoint-nav: 950px;

// Padding
$padding-sm: 20px;
$padding-md: 30px;
$padding-lg: 40px;

// Easings
$slide-easing: cubic-bezier(0.65, 0, 0.35, 1);
