{% extends "_layout" %}

{% set title = category.title %}
{% set comicsEntries = craft.entries({
  section: "comics",
  relatedTo: category,
  unlisted: false,
  with: [
    "comicThumbnail",
    "comicImages",
  ]
}) %}
{% if category.seoTitle %}{% set seoTitle = category.seoTitle %}{% endif %}
{% if category.seoDescription %}{% set seoDescription = category.seoDescription %}{% endif %}
{% if category.seoImage|length %}{% set seoImage = category.seoImage.one() %}{% endif %}

{% block content %}
  {% cache unless currentUser %}

  <h1>{{ title }}</h1>
  {% if category.body %}
    <div class="body user-content">
      {{ category.body }}
    </div>
  {% endif %}

  <div class="grid spaced">
    <div class="col-md-1-4 sidebar -padding-top">
      <div class="stickme">
        {% include 'comics/_link-nav' %}
      </div>
    </div>
    <div class="col-md-3-4 main">
      {% include "comics/_list" with { comicsEntries: comicsEntries } %}
    </div>
  </div>

  {% endcache %}
{% endblock %}
