{% extends "_layout" %}

{% set title = category.title %}
{% set comicsEntries = craft.entries({
  section: "comics",
  relatedTo: category,
  with: [
    "comicImages",
  ]
}) %}
{% if category.seoTitle %}{% set seoTitle = category.seoTitle %}{% endif %}
{% if category.seoDescription %}{% set seoDescription = category.seoDescription %}{% endif %}
{% if category.seoImage|length %}{% set seoImage = category.seoImage.one() %}{% endif %}

{% block content %}
  {% cache unless currentUser %}

  <h1>{{ title }}</h1>
  {% if category.body %}
    <div class="body user-content">
      {{ category.body }}
    </div>
  {% endif %}

  {% include "comics/_grid" with { comicsEntries: comicsEntries } %}

  {% endcache %}
{% endblock %}
