{% set comicsIndex = craft.entries.section('comicsIndex').one() %}
<ul class="wide-buttons">
  <li {{ category is not defined ? ' class="active"' : '' }}><a href="/comics/">&larr; All Comics</a></li>
  {% for link in comicsIndex.linkBlocks.all() %}
    <li{% if link.linkUrl in craft.app.request.absoluteUrl %} class="active"{% endif %}><a href="{{ link.linkUrl }}">{{ link.linkTitle }}</a></li>
  {% endfor %}
</ul>
