// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: $black;
  font: 18px/1.6 $font-regular;
  overflow-x: hidden;
  background: $gray;
  position: relative;
}

// Default link styles
a {
  color: $blue;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Images & captions
figure,
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
figcaption {
  font-size: 0.75rem;
  opacity: 0.75;
  text-align: right;
}

address {
  font-style: normal;
}

// Sticky items on tablet and desktop
.stickme {
  @include media-md {
    position: sticky;
    top: $global-padding;
  }
}

// Action button areas
.actions {
  margin-top: $padding-sm;
  @include media-md {
    margin-top: $padding-md;
  }
}

// Main page wrapper
.page-wrapper {
  @include clearfix;
  padding: grid(1) $padding-sm $padding-sm $padding-sm;
  max-width: $max-page-width;
  margin: 0 auto;
  background: $white;

  @include media-md {
    padding: grid(2) $padding-md $padding-md $padding-md;
  }
}

// Sidebar
.sidebar {
  margin-top: grid(5);
}

// Social icons
.user-content .social-links,
.social-links {
  margin: 0 0 $padding-sm;
  ul {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: center;
    li {
      display: block;
      flex: 0 1 45px;
      max-width: 45px;
      height: 45px;
      a {
        display: block;
      }
    }
  }

  // Tablet/desktop styles
  @include media-sm {
    margin: grid(1) 0 $padding-md;
    ul {
      justify-content: space-between;
      li {
        flex: 0 1 75px;
        max-width: 75px;
        height: 75px;
      }
    }
  }
}

// Hover effects on nav + social icons
@media (hover) {
  .-hover-blocks {
    li:not(.active) a {
      transition: all 0.25s ease;
      &:hover {
        transform: scale(0.8);
      }
    }
  }
  // Social links in a user content area
  .user-content .-hover-blocks a:hover {
    background-color: transparent;
    box-shadow: none;
  }
}

// Full width buttons
.wide-buttons {
  margin: 0 0 grid(2);
  a {
    @extend %button;
    display: block;
    width: 100%;
    margin: 0 0 grid(1);
  }
  li {
    &.active {
      a {
        background: $blue;
        color: $white;
      }
    }
  }
}
