// Header & Nav

.site-header {
  nav {
    user-select: none; // Disable safari selecting text in images
    background: $white;
    max-width: $max-page-width;
    margin: 0 auto;

    .primary-nav {
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: center;
      li {
        flex: 0 1 33.33333%;
        a {
          // transition: all 0.2s;
          display: block;
          margin: 10px;
          padding: 10px;
          @include media-md {
            padding: 20px;
          }
          img {
            display: block;
            width: auto;
            max-height: 40px;
            margin: auto;
          }
        }
        &.active a,
        a:hover {
          background: $blue;
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }

  a.logo {
    display: block;
    width: 100%;
    background: $blue;
    padding: 10px 20px;
    @include media-md {
      padding: 10px 40px;
    }
    img {
      display: block;
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
    }
  }
}
