// Header & Nav

.site-header {
  nav {
    user-select: none; // Disable safari selecting text in images
    background: $white;
    max-width: $max-page-width;
    margin: 0 auto;

    .primary-nav {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 2.5px;
      padding: 0;
      align-items: center;
      justify-content: center;
      li {
        flex: 0 1 33.33333%;
        a {
          // transition: all 0.2s;
          display: block;
          margin: 5px 2.5px;
          padding: 10px;
          background: $blue;
          img {
            display: block;
            width: auto;
            max-height: 40px;
            margin: auto;
            filter: brightness(0) invert(1);
          }
        }
        &.active a {
          background: none;
          img {
            filter: none;
          }
        }
      }
    }

    // Desktop styles
    @include media-md {
      .primary-nav {
        margin: 0 5px;
        li {
          a {
            margin: 10px 5px;
            padding: 20px;
          }
        }
      }
    }
  }

  a.logo {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background: $blue;
    padding: 5px 10px 5px 20px;
    @include media-lg {
      padding: 20px 40px 0 20px;
    }

    span {
      img {
        display: block;
      }
    }
    .avatar {
      display: none;
      flex: 0 1 200px;
      align-self: flex-end;
      padding-right: 40px;
      @include media-lg {
        display: block;
      }
    }
    .url {
      // flex: 0 1 80%;
      flex: 1;
      align-self: center;
    }
    .alec-mini {
      display: none;
    }
  }
}

// @include media-md {
//   .alec-mini {
//     display: none;
//   }
// }

@include max-screen($breakpoint-md) {
  body.nav-stuck {
    padding-top: 136px;
    .site-header nav {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: $blue;
      a.logo {
        span {
          display: none;
          &.alec-mini {
            display: block;
            img {
              width: 60px;
              height: auto;
              position: absolute;
              top: 5px;
              left: 5px;
            }
          }
        }
      }
      .primary-nav {
        position: absolute;
        top: 12px;
        left: 65px;
        width: calc(100% - 65px);
        li {
          a {
            padding: 0;
            img {
              filter: brightness(0) invert(1);
              max-height: 18px;
            }
          }
        }
      }
    }
  }
}
