.hover-links {
  a {
    @include inline-link;
  }
}
.user-content {
  a {
    @include inline-link;
  }
  ul {
    list-style-type: disc;
  }
  ol,
  ul {
    padding: 0;
    margin: 0 0 grid(2) 1.5em;
  }
  figure {
    margin: 0 0 grid(2);
  }
  blockquote {
    margin: 0 grid(4) grid(4) grid(4);
    padding: 0;
    position: relative;
    font: 20px/1.4 $font-header;

    @include media-md {
      font: 30px/1.3333 $font-header;
    }
  }
  // No margin on top for first headers in content area
  >h1,
  >h2,
  >h3,
  >h4 {
    margin-top: 0;
  }
}
.no-touchevents {
  .user-content a:not(.button):hover {
    // color: $red;
    // border-color: $red;
  }
}
