// Print styles

// Normalize styles
@import "shared/normalize";

// Simplify body
body {
  background: white;
  color: black !important;
  margin: 0;
  padding: 0;
}

// Page margins
@page {
  margin: 0.5cm;
}

img {
  max-width: 50%;
  height: auto;
}

// Hide stuff
.site-header,
.site-footer,
.pagination {
  display: none !important;
}

// Override body wrapper height set by js
.body-wrapper {
  height: auto !important;
}

// No padding on wrapper
.page-wrapper {
  padding: 0 !important;
}

// Black links
a {
  text-decoration: none;
  color: black;
}

// Show link URLs on user content
.user-content a:after {
  content: "( "attr(href)" )";
}
