{% extends "_layout" %}
{% if entry is not defined %}
  {% set entry = craft.entries.section('newsArchives').one() %}
{% endif %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.seoImage|length %}{% set seoImage = entry.seoImage.one() %}{% endif %}

{% set allEntries = craft.entries.section('news') %}

{% block content %}
  {% cache unless currentUser %}

  {% if entry.body %}
    <div class="body user-content">
      {{ entry.body }}
    </div>
  {% endif %}

  <div class="grid spaced archives-list">
    <div class="col-md-3-4 hover-links">

      <h1>Archives</h1>

      {% for date, entries in allEntries.all() | group("postDate|date('F Y')") %}
        <h3 class="date">{{ date }}</h3>
        <ul>
          {% for entry in entries %}
            <li>{{ entry.getLink() }}</li>
          {% endfor %}
        </ul>
      {% endfor %}

    </div>
    <div class="col-md-1-4">
      {% include "news/_sidebar" %}
    </div>
  </div>

  {% endcache %}
{% endblock %}
