<div class="sidebar hover-links">
{% cache unless currentUser %}
  {% set allEntries = craft.entries.section('news') %}
  <ul>
    <li><a class="rss" href="/news/feed.rss">RSS Feed</a></li>
    <li><a class="rss" href="/news/archives/">Archives</a></li>
  </ul>

  {# <form action="/search">
    <label>Search:</label>
    <input type="text" name="q">
  </form> #}

{% endcache %}
</div>