<div class="sidebar stickme">
{% cache unless currentUser %}
  {% set allEntries = craft.entries.section('news') %}
  <ul class="wide-buttons">
    <li><a class="button" href="/news/feed.rss"><img src="/assets/images/rss-feed.svg" alt="RSS icon"> RSS Feed</a></li>
    <li><a class="button" href="/news/archives/">Archives</a></li>
  </ul>

  {# <form action="/search">
    <label>Search:</label>
    <input type="text" name="q">
  </form> #}

{% endcache %}
</div>