{% extends "_layout" %}

{% if entry is not defined %}
  {% set entry = craft.entries.section('newsIndex').one() %}
{% endif %}

{% if category is defined %}
  {% paginate craft.entries({
    section: 'news',
    relatedTo: category,
    with: [
      'image',
    ]
  }).limit(11) as paginationInfo, newsEntries %}
{% else %}
  {% paginate craft.entries({
    section: 'news',
    with: [
      'image',
    ]
  }).limit(11) as paginationInfo, newsEntries %}
{% endif %}

{% block content %}
  {% cache unless currentUser %}

  <div class="grid spaced">
    <div class="col-md-3-4">
      {% for newsEntry in newsEntries %}
        {% include "news/_article" %}
      {% endfor %}
    </div>
    <div class="col-md-1-4">
      {% include "news/_sidebar" %}
    </div>
  </div>

  {% endcache %}
{% endblock %}
