// Comics

.page-comics {
  .sidebar .stickme {
    padding-bottom: grid(2);
  }
  .comic-nav {
    padding: grid(2) 0 0;
    a {
      display: inline-block;
      padding: 5px;
      background: #eee;
      margin: 0 0 5px;
      text-decoration: none;
    }
  }

  // Comics list page
  .comics-list {
    li {
      margin: 0 0 grid(2);
    }
    .info {
      div,
      p {
        font-size: 0.9em;
        margin: 0 0 0.5rem;
      }
    }
  }

  // Index page
  .comic-type + .comic-type {
    margin-top: grid(4);
    padding-top: grid(4);
    border-top: 1px solid $gray;
  }

  // Single comic view
  .comic {
    img {
      display: block;
      margin: grid(1) auto;
    }
  }

  // Comic type buttons
  .comic-type-nav {
    margin: 0 0 grid(2);
    a {
      @extend %button;
      display: block;
      width: 100%;
      margin: 0 0 grid(1);
    }
    li {
      &.active {
        a {
          background: $blue;
          color: $white;
        }
      }
    }
  }

  // Medium and up styles
  @include media-md {
    // Reorder main + sidebar, moving sidebar to right
    .main {
      order: 1;
    }
    .sidebar {
      h1 {
        font: 36px/1 $font-header;
      }
      order: 2;
    }
  }

  /**
   * Single comic
   */
  &.single {
    // Mobile only styles
    @include max-screen($breakpoint-md) {
      .comic-nav {
        display: none;
      }
    }
  }

}
