// Links

// Link grid (shared w/ comics)
.link-grid {
  h3 {
    margin: 0 0 0.25em;
  }
}

// General table styles in /links/ (bibliography, interviews)
table.link-table {
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  // Style headers
  th {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
  }
  td {
    border: 1px solid $gray;
    padding: 5px;
    min-width: 100px;
    vertical-align: middle;
    // Paragraph tags from rich text fields (could also strip out <p> in template...)
    p {
      margin: 0;
    }
  }
  tr.summary {
    font-weight: bold;
  }

  // Set widths on certain columns for readability
  @include media-sm {
    .title {
      width: 45%;
    }
    .interviewer {
      width: 15%;
    }
  }
}

// Mobile-only styles to make tables readable
@include max-screen($breakpoint-sm) {
  table.link-table {
    &, thead, tbody, th, td, tr {
      display: block;
    }
    // Visually hide table headers but keep accessible
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    td {
      border: none;
      + td {
        border-top: 1px solid $gray;
      }
    }
    td::before {
      display: block;
      content: attr(data-label);
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      color: $gray;
    }

    // Unset specific widths
    td.title,
    td.interviewer {
      width: 100%;
    }

    tr {
      margin-bottom: grid(2);
      // Visually distinguish "rows"
      &:nth-child(odd) {
        background: #eee;
      }
      // Summary rows don't need labels
      &.summary {
        td::before {
          content: '';
        }
      }
    }
  }
}

/**
 * Links index page
 */
.page-links {
  .link-grid {
    padding: grid(1) 0 grid(2);
  }
}
