{% extends "_layout" %}
{% set title = "404" %}
{% set bodyClass = "fourohfour-page" %}
{% if entry is not defined %}
  {% set entry = craft.entries.section('fourOhFour').one() %}
{% endif %}

{% block content %}
  {% cache unless currentUser %}

  <div class="page-blocks">
    {% include 'blocks/_page-blocks' %}
  </div>

  {% endcache %}
{% endblock %}
