{% extends "_layout" %}
{% set title = "404" %}
{% set bodyClass = "fourohfour-page" %}

{% block content %}
  <div class="single-entry user-content">
    <h1 class="display">4O4</h1>
    <p>Sorry, we couldn't find the page you're looking for.</p>
	</div>
{% endblock %}
