<!doctype html>
  <!--[if IE 9 ]> <html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

  {% include 'shared/_head' %}
  {% if craft.app.request.getSegment(1) %}
    {% set pageClass = (bodyClass is defined and bodyClass matches '/page\-/') ? '' : 'page-' ~ craft.app.request.getSegment(1) %}
  {% else %}
    {% set pageClass = 'page-home' %}
  {% endif %}

  <body class="{% if bodyClass is defined %}{{ bodyClass }} {% endif %}{{ pageClass }}">
    <div id="top"></div>
    {{ adminBar({ sticky: false, entry: entry ?? null }) }}
    <div class="body-wrapper">
      <header class="site-header" role="banner">
        <div class="nav">
          <nav class="site-nav" role="navigation">
            <a href="/" class="logo">
              <span class="avatar"><img src="/assets/images/Alec-Avatar-sm.png" alt="Hand Drawn Alec Avatar"></span>
              <span class="url"><img src="/assets/images/Alec-Longstreth.com.png" alt="Hand Drawn Alec-Longstreth.com"></span>
              <span class="alec-mini"><img src="/assets/images/alec.png" alt="Hand drawn Alec"></span>
            </a>
            {% include '/shared/_navigation' %}
          </nav>
        </div>
      </header>

      <div class="page-wrapper">
        <main class="site-main" role="main">
          {% block content %}{% endblock %}
        </main>
      </div>{# /.page-wrapper #}

      {% include '/shared/_footer' %}

    </div>{# /.body-wrapper #}
  </body>
</html>
