<!doctype html>
  <!--[if IE 9 ]> <html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

  {% include 'partials/_head' %}
  {% if craft.app.request.getSegment(1) %}
    {% set pageClass = (bodyClass is defined and bodyClass matches '/page\-/') ? '' : 'page-' ~ craft.app.request.getSegment(1) %}
  {% else %}
    {% set pageClass = 'page-home' %}
  {% endif %}

  <body class="{% if bodyClass is defined %}{{ bodyClass }} {% endif %}{{ pageClass }}">
    <div id="top"></div>
    {{ adminbar({ sticky: false, entry: entry ?? null }) }}
    <div class="body-wrapper">
      <header class="site-header" role="banner">
        <div class="nav">
          <nav class="site-nav" role="navigation">
            <a href="/" class="logo">
              <img src="/assets/images/Alec-Longstreth.com.png" alt="Hand Drawn Alec-Longstreth.com">
            </a>
            {% include '/partials/_navigation' %}
          </nav>
        </div>
      </header>

      <div class="page-wrapper">
        <main class="site-main" role="main">
          {% block content %}{% endblock %}
        </main>
      </div>{# /.page-wrapper #}

      {% include '/partials/_footer' %}

    </div>{# /.body-wrapper #}
  </body>
</html>
