<footer class="site-footer" role="contentinfo">
  {% include 'shared/_social-links' %}

  <div class="copyright">All content of this site is &copy; 1999-{{ 'now'|date('Y') }} Alec Longstreth</div>
  <a href="#top" class="to-top"><img src="/assets/images/arrow-up.png" alt="Up arrow"></a>
</footer>
<script src="/assets/scripts/main.js?ckcachebust=C4DEB1B572B400219556789B93FB7D7F"></script>